<div id="sidebar-menu">
    <ul>
        <li>
            <a asp-area="administration" asp-page="/Index" class="waves-effect active"><i class="md md-home"></i><span> داشبورد </span></a>
        </li>

        <li class="has_sub">
            <a class="waves-effect"><i class="md md-mail"></i><span> فروشگاه </span><span class="pull-right"><i class="md md-add"></i></span></a>
            <ul class="list-unstyled">
                <li><a asp-page="/Shop/productCategories/Index" >گروه محصولات </a></li>
                <li><a asp-page="/Shop/Slide/Index">اسلایدر</a></li>
                <li><a asp-page="/Shop/Product/Index">محصولات</a></li>
                <li><a asp-page="/Shop/Productpicture/Index">عکس محصولات </a></li>
            </ul>
        </li><li class="has_sub">
            <a class="waves-effect"><i class="md md-mail"></i><span> سیستم تخفیفات </span><span class="pull-right"><i class="md md-add"></i></span></a>
            <ul class="list-unstyled">
                <li><a asp-page="/Discounts/CustomerDiscounts/Index" >تخفیفات مشتریان</a></li>
               </ul>
        </li>

                            
    </ul>
    <div class="clearfix"></div>
</div>
<div class="clearfix"></div>